*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

htmml, body{
  background-color: #7fd37f;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: Lato, sans-serif;
}

.logo-contenedor{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #7fd37f;
}

.logo{
  height: 50px;
}

.contenedor-contador{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
